<p id="notice"><%= notice %></p>

<p>
  <b>Component:</b>
  <%= @datastructuredefinition.component %>
</p>


<%= link_to 'Edit', edit_datastructuredefinition_path(@datastructuredefinition) %> |
<%= link_to 'Back', datastructuredefinitions_path %>
